doctype html
html(lang="es")
	head
		title Sistema de Administración de Accesos-Acces Logic
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" type="text/css" href="css/foundation.css")
		link(rel="stylesheet" type="text/css" href="css/app.css")
		script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous")
		script(src="js/vendor/foundation.js")
		script(src="js/app.js" type="text/javascript" charset="utf-8" async)
body
	div(class="row")
		div(class="large-12")
			div(class="small-2 medium-2 large-2 large-offset-2 columns")
				br
				label Buscar empleado

			div(class="small-2 medium-2 large-3 columns")
				br
				input(type="text" id="right-label" class="radio")
			
			div(class="small-3 medium-3 large-5 columns")
				br
				a(class="warning button radio" href="#") Buscar
		
		div(class="small-12 medium-12 large-12 columns")
			div(class="small-10 smll-offset-2 medium-10 medium-offset-2 large-10 large-offset-1 columns ")
				table(class="stack")
					thead
						tr(class="colorCell")
							th(width="100" class="encT") ID
							th(width="150" class="encT") Nombre
							th(width="150" class="encT") Usuario
							th(width="150" class="encT") Contraseña
							th(width="150" class="encT") Modificar
							th(width="150" class="encT") Eliminar
						tr
							td(class="colorCell") Here
							td dadasdasd
							td Content Goes Here
							td Content Goes Here
							td 
								input(type="text" value="Modificar" class="success button radio")
							td 
								input(type="text" value="Eliminar" class="alert button radio")
						tr
							td(class="colorCell") Goes Here
							td This is longer Content Goes Here 
							td Content Goes Here
							td Content Goes Here
							td 
								input(type="text" value="Modificar" class="success button radio")
							td 
								input(type="text" value="Eliminar" class="alert button radio")
						tr
							td(class="colorCell") Content Goes Here
							td This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
							td Content Goes Here
							td Content Goes Here
							td 
								input(type="text" value="Modificar" class="success button radio")
							td 
								input(type="text" value="Eliminar" class="alert button radio")
			